* {
  box-sizing: border-box;
}

html, body {
  display: block;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  background-color: #FFF;

  font-family: "Courier New";
}

#root {
  display: block;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;

  position: relative;

  flex-grow: 0;
}


// MISC

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
